@{
    ViewData["Title"] = "Home Page";
}

<img asp-append-version="true" style="display:block;margin:13px auto;" src="~/MyImages/MyImage01.png" alt="MyImage01.png" width="400" />

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
